{% extends "base.html" %}
{% block title %}Home Feed {% endblock %}
{% block content %}
<div class="container">
     <div class="row">
            <div class="col-md-3">
               <div class="card">
                <ul class="list-group list-group-flush  header-card">
                    <li class="list-group-item nav">
                       <div class="h5 text-muted nav">[ <a href="/">Marketplace</a>] [ Upcoming Events ] [Crime and Safety]</div>
                   </li>
               
                         <li class="list-group-item nav">
                            <h2 class="gradient-text">My Neighborhood</h2>
                            <p>Welcome to your community app.</p>
                         </li>
                     </ul>
                    
                </div>
            </div><!-- end col-md-3 -->

            <div class="col-md-6">
                <!--- Advertestiment section -->
                <h3> Community Marketplace </h3>
                <div class="mx-auto add-div"><a id="add-ad-button" class="btn btn-neighborly" href="/ad/add">Create a new ad </a></div>
                {% for a in ads %}
                <div class="panel">
                    <div class="panel-body panel-neighborly">
                        <h4 class="panel-title"> <a href="/ad/view/{{ a._id['$oid'] }}">{{a.title}}</a></h4>
                        <p class="text-marketplace">Email: {{a.email}}</p>
                        <p class="text-marketplace">{{a.description}}</p>
                        <p class="text-marketplace">Price: {{ a.price}}</p>
                        <p><img class="img-small" width="200" src={{a.imgUrl}}></p>
                    </div><!-- end panel body -->
                    <div class="panel-footer">
                        <a class="btn btn-info btn-xs" href="ad/edit/{{ a._id['$oid'] }}">Update</a>
                        <a class="btn btn-warning btn-xs" href="ad/delete/{{ a._id['$oid'] }}">Delete</a>
                    </div>
                 </div><!-- end panel  -->
                {% endfor %}       
                <h3 class="ml-2"> General Posts </h3>
                {% for p in posts %}
                <div class="panel">
                    <div class="panel-body panel-neighborly">
                        <div class="panel-title">{{p.title}}</div>
                        <p class="text-muted"> {{ p.description }}</p>
                        <p><img class="img-small" width="200" src={{p.imgUrl}}></p>
                    </div><!-- end card-body -->
                 </div><!-- end card -->
                {% endfor %}       
               
         </div><!-- end col-md-6 -->
        <div class="col-md-3">
            <div class="card">
                    <div class="card-body">
                    <div class="h5">Advertisements</div>
                    <div class="h7 text-muted">Maps</div>
                    <div class="h7">Recommendations</div>
                </div>
            </div>
        </div><!-- end col-md-3 -->
    </div><!-- end row -->
</div
{% endblock %}

  